/* app css stylesheet */


ul > li {
  list-style-type: none;
  background-color: #eee;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  border: 1px solid #DDD;
}

ul > li.active, ul > li:hover {
  background-color: #ddd;  
  cursor: pointer;
}

ul > li > a:hover {
  text-decoration: none;
}

ul.nav-tasks {
  margin: 0;
}
ul.nav-tabs {
  padding-bottom: 10px;
}
div.tasks {
  
}

div.content {
  margin-top: 60px;
}